   <hr>
 <footer>
        <p>© 2024 | Colombia | <a href="https://github.com/GabJS10"><i class="fa-brands fa-github"></i></a> | <a href="https://www.linkedin.com/in/gabriel-ballesteros-3114b916a/"><i class="fa-brands fa-linkedin"></i></a> | <a href="https://candidato.co.computrabajo.com/candidate/home?idapp=3&f=FEE939887FF3D46C"><i class="fa-brands fa-instagram"></i></a></p>
    </footer>