<nav>
            <a href="/" id="logo">
             <img src="/img/gitimage.jpg" alt="Logo">
</a>

            
            <div class="icons">
                <a href="/projects">Projects</a>
                <a href="https://github.com/GabJS10" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/gabriel-ballesteros-3114b916a/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="/assets/CV.pdf" target="_blank" ><i class="fa-solid fa-file"></i></a>
            
            </div>
        </nav>