 <section id="presentation">
        <h1>Hello, I'm Gabriel Ballesteros</h1>
        <p class="subtitle">Programmer & Web Developer</p>
        <div class="intro">
            <div class="intro-text">
                <p>{{ site.MyDescriptionEN }}</p>
            </div>
            <div class="intro-photo">
                <img src="img/gitimage.jpg" alt="Foto de Gabriel" class="photo">
                <p class="description">Programmer<br>Systems Engineer</p>
            </div>
        </div>
        <p class="projects-link">You can see my projects <a href="/projects">here</a></p>
</section>